<div class="header-height" fxLayout="row">
    <div fxFlex="60" fxLayout="row" fxLayoutAlign="start center">RONIN</div>
    <div fxFlex="40" fxLayout="row" fxLayoutAlign="start center">
      <div class="p-10" [routerLink]="[ '/home' ]">HOME</div>
      <div class="p-10" [routerLink]="[ '/about' ]">ABOUT</div>
      <div class="p-10" [routerLink]="[ '/services' ]">SERVICES</div>
      <div class="p-10" [routerLink]="[ '/pages' ]">PAGES</div>
      <div class="p-10" [routerLink]="[ '/blog' ]">BLOG</div>
      <div class="p-10" [routerLink]="[ '/contact' ]">CONTACT</div>
  
    </div>
</div>